<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @datum.value %>
</p>

<p>
  <strong>Status:</strong>
  <%= @datum.status %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
